<header>
  <div class="header-content" id="about">
    <div class="header-content-inner">
      <h2>DATA SCIENTIST</h2>
      <hr />
      <div class="img-container">
        <img
          src="img/myAvatar.png"
          alt="my-avatar"
          class="img-thumbnail
        img-circle"
        />
      </div>
      <hr />
      <p>
        Welcome to my portfolio site. I ❤️ sharing my passion of
        <strong>Data Science</strong>, <strong>Machine Learning</strong>, and
        designing <strong>AI</strong> for quantitative analysis. <br />
        I enjoy <strong>studying security</strong>🏋 , quant strategies, exploring unfamiliar
        datasets 🧗&zwj;♂️, tumbling while wrangling them 🤸, and identifying
        valuable patterns for impactful conclusions 🔍.
      </p>
      <a href="#skills" class="btn btn-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
