<!-- Modal 1 - Backtrading for Amateurs -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Backtrading for Amateurs</h2>
              <p class="item-intro text-muted">
                First backtrading iteration with a simple strategy. Prototype for further development.
              </p>
              <div
                class="youtube-player"
                data-id=""
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
              ></div>
              <hr />
              <p>
                Can an amateur trader beat the market? Probably not. However, with the right tools, there is an increased chance of likelihood.
              </p>
              <img
                src="img/portfolio/backtrading_cap_hist.png"
                alt="Displays Image Captioning History"
                class="img-responsive img-thumbnail"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
              />
              <p>
                1st Backtrading is an attempt to generate a simple trading strategy without including indicators which may be unknown to amateur traders.
                The 10 stocks with the highest trading volumes were chosen for high liquidity to test the simple trading strategy
                using methods outlined in
                <a href="https://..." target="_blank"
                  >...:</a
                >,
                <a href="https://..." target="_blank"
                  >...[...]</a
                >, and
                <a href="https://..." target="_blank"
                  >...[...]</a
                >. ...
                <a
                  href="https://..."
                  target="_blank"
                >
              </p>
              <p>
                👇 Check out the presentation and code below. 👇
              </p>
              <p>
                <button
                  class="btn btn-secondary btn-responsive"
                  onclick=" window.open('https://github.com/Lambda-School-Labs/','_blank')"
                >
                  <i class="fa fa-github"></i> View Github
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-responsive"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <button
                  class="btn btn-info btn-responsive"
                  onclick=" window.open('.../','_blank')"
                >
                  <i class="fa fa-cog"></i> View App
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
