<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">My Muses</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cloud wow bounceIn text-primary"></i>
          <h3>Quantitative Analysis</h3>
          <p class="text-muted">
            Leveraging modern technologies to analyze past data, enabling machine learning, performing algorithms to promote fault
            tolerance and implementing natural language processing for sentiment analysis. Winning more than losing.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-flask
          wow bounceIn text-primary"
          ></i>
          <h3>Data Science</h3>
          <p class="text-muted">
            Learning from data, driving decision making to add real world value, and focusing on
            predicting the future with...
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-magic wow bounceIn text-primary"
            data-wow-delay=".1s"
          ></i>
          <h3>Machine Learning</h3>
          <p class="text-muted">
            Fully understanding what each model does, which one to choose, properly cleaning and
            preparing any input data, then harnessing machine learning to compute efficiently and effectively so that computers can do better work.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-database   wow bounceIn text-primary"
            data-wow-delay=".2s"
          ></i>
          <h3>Artificial Intelligence</h3>
          <p class="text-muted">
            I programmed a self driving car at the age of 8, and the technology isn't much different over 20 years later. The goal is to make the world a more enjoyable place for all to live by utilizing AI. As usual, use simple models, and then scale them. Notice how the skills build.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
